* {
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

nav {
    width: 100%;
}

nav a {
    list-style-type:none;
    overflow:hidden;
    font-family:Merriweather;
    background-color:#930707;
    text-align:center;
    float:left;
    display:block;
    text-align:center;
    text-decoration:none;
    padding:14px;
    color:white;
    width: 25%;
    
}
iframe{
    float: right;
    margin: 1em;
    margin-left: 1px;
}
p1{
    color: black;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    margin: 1em;
    margin-top: 1em;
    margin-bottom; 2em;
}
p2{
    border-style= "solid";
    color: black;
    float: right;
    border-color: black;
}
img{
    width: 20%;
    float: left;
    border-radius: 50px;
    border-style: solid;
    border-color: black
}
Alejandro{
    margin= 1em;
}
Contact_Information{
    margin-top= 2em;
    margin-bottom= 1em;
}