* {
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

nav {
    width: 100%;
}

nav a {
    list-style-type:none;
    margin:30;
    overflow:hidden;
    font-family:'Merriweather';
    background-color:#930707;
    text-align:center;
    float:left;
    display:block;
    text-align:center;
    text-decoration:none;
    padding:14px;
    color:white;
    width: 25%;
    
}
p{
    color: black;
    font-size: 20px;
}
header {
    color: black;
    position: relative;
    top: 30px;
    left: 300px
}
h2{
    color: black;
    right: 500px;
    width: 300px;
    border: 3px solid #930707;
    padding: 10px;
    float: left;
    margin:50px
}
div{
    width: 50%;
    float: left;
    margin: 50px
}p{
    font-size:18.5px;     
    color: black;
    font-family: 'Merriweather', serif;
    
}
h3{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    
}
ul{
    list-style-type:none;
    margin:30;
    padding:0;
    overflow:hidden;
    background-color:darkred; 
    font-family: 'Merriweather', serif;
    font-size:25px;
    
}
li a{
    float:center;
    display:block;
    text-align:center;
    text-decoration:none;
    padding:24px;
    color:ghostwhite;
    font-family: 'Merriweather', serif;
}
li{
    float:left;
}
body{
    font-size: 30px;
    background-color: white;
    font-family: 'Merriweather', serif;
}
h1{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    float: center;
    color:black;
     

}
img{
    box-shadow: 5px 5px 10px darkred;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    font-size: 28px
}

